* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --primary: rgb(212, 67, 169);
    --secondary: rgb(68, 37, 141);
    --tertiary: rgb(219, 186, 231);
}

#view-high-scores {
    color: var(--primary)
}

header {
    display: flex;
    flex: auto;
    justify-content: space-between;
    padding: 15px;
}

#intro {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
    
main {
    margin: 10% 20%;
}

button {
    background-color: var(--secondary);
    color: white;
    border-radius: 5px;
    padding: 8px 15px;
    border: none;
}

.winners {
    background-color: var(--tertiary);
}